<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848543193459-tm51seu5ed0rqad6jd8f7vaa571u2suf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848543193459-tm51seu5ed0rqad6jd8f7vaa571u2suf</string>
	<key>API_KEY</key>
	<string>AIzaSyD_8a3N-AtcZ0WSub9I-Tk2goiTcvc1HRA</string>
	<key>GCM_SENDER_ID</key>
	<string>848543193459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efinance</string>
	<key>PROJECT_ID</key>
	<string>efinance-2607f</string>
	<key>STORAGE_BUCKET</key>
	<string>efinance-2607f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848543193459:ios:15ccf6f717e90323308d06</string>
</dict>
</plist>